numpy<=2.4.0
pandas>=2.3.3
scikit-learn>=1.8.0
xgboost>=2.1.3
lightgbm>=4.5.0
matplotlib>=3.10.8
seaborn>=0.13.2
plotly>=5.24.0
cartopy>=0.25.0
numba>=0.63.1
numexpr>=2.10.0
bottleneck>=1.4.0

# Para usar o notebook com catboost e optuna use essas versões
#lightgbm>=4.6.0
#scikit-learn==1.5.2
#xgboost>=2.1.3
#cartopy>=0.25.0
#pandas>=2.3.3
#numpy<=2.4.0
#matplotlib>=3.10.8
#plotly>=5.24.0
#seaborn>=0.13.2
#numba>=0.63.1
#numexpr>=2.10.0
#bottleneck>=1.4.0
#optuna>=3.6.0
#catboost==1.2.8